*~
.DS_Store
.dep
build
test
CMSIS
python
*.py
*.ipynb
TAGS
.emacs-dirvars
*.png
*.bak
*.new
*.old
*.orig
version.txt
dorelease.bat
ChibiOS
.settings/language.settings.xml
.cproject
Rubbish*
desktop.ini
hex2dfu
hex2dfu.exe
*.bin
*.dfu
*.elf
*.hex
